{% extends 'base.html' %}
{% load static %}
{% block title %}Capture Image{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'CSS/result.css' %}">
{% endblock css %}
{% block body %}

<header class="page-header gradient">
    <div class="container pt-3">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <h1>Download Image!</h1>
                <p>Right click on the image to save it in your device.</p>
                <br>
                <a href="{% url 'home' %}" class="btn btn-success" style="margin-right: 20px;">Go To Home</a>
                <a href="{% url 'upload' %}" class="btn btn-success">Upload Image</a>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <a href="{% static 'images/opencv_frame_0.png' %}" download="image">
                    <img src="{% static 'images/opencv_frame_0.png' %}" width="300px" height="300px"
                        style="margin-top: 20%; margin-left: 20%;">
                </a>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffff" fill-opacity="1"
            d="M0,224L40,197.3C80,171,160,117,240,90.7C320,64,400,64,480,85.3C560,107,640,149,720,176C800,203,880,213,960,197.3C1040,181,1120,139,1200,128C1280,117,1360,139,1400,149.3L1440,160L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
        </path>
    </svg>
</header>

{% endblock body %}