html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: 'Lobster', cursive;
}

.gradient{
    background: rgb(131,58,180);
    background: linear-gradient(
            90deg,
             rgba(131,58,180,1) 0%,
             rgba(131,5,5,1) 50%,
              rgba(252,176,69,1) 100%
    );
}

.page-header{

    font-size: 1.25rem;
    color: #1a1e21;
}

footer{
    color: #1a1e21;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;

}
a{
    color: #1a1e21;
    text-decoration: none;
}
